{% extends 'layout.twig' %}
{% block content %}
  <div class="container content">

    <div class="col-lg-12">

      {{ alertHtml|raw }}

      <div class="card text-{{ CONF.controllers[controller].panelColor }}">
        {% if viewData.pageHelp %}
          {% set pageHelp = '<a href="' ~ CONF.controllers[controller].docurl ~ '" target="_blank" class="float-end" style="color:inherit;"><i class="bi bi-question-circle-fill bi-lg"></i></a>' %}
        {% endif %}

        <div class="card-header">
          <i class="{{ CONF.controllers[controller].faIcon }} bi-lg me-3"></i>
          {{ LANG.mnu_help_about }}{{ pageHelp|raw }}</div>
        <div class="card-body row">
          <div class="col-lg-2 text-center pt-0 mt-0">
            <i class="bi-calendar-week bi-8x logo-gradient"></i>
          </div>
          <div class="col-lg-10 mt-4">
            <h4>{{ constant('APP_NAME') }}</h4>
            <p>
              <strong>{{ LANG.about_version }}:</strong>&nbsp;&nbsp;{{ constant('APP_VER') }}<span id="versioncompare"></span><br>
              <strong>{{ LANG.about_copyright }}:</strong>&nbsp;&nbsp;&copy;&nbsp;{{ constant('APP_YEAR') }}
              by
              <a class="about" href="https://www.lewe.com/" target="_blank" rel="noopener">{{ constant('APP_AUTHOR') }}</a><br>
              <strong>{{ LANG.about_license }}:</strong>&nbsp;&nbsp;<a class="about" href="https://lewe.gitbook.io/teamcal-neo/readme/teamcal-neo-license" target="_blank" rel="noopener">{{ LANG.license }}</a><br>
              <strong>{{ LANG.about_support }}:</strong>&nbsp;&nbsp;<a class="about" href="https://georgelewe.atlassian.net/servicedesk/customer/portal/5" target="_blank" rel="noopener">Lewe Service Desk</a><br>
              <strong>{{ LANG.about_issues }}:</strong>&nbsp;&nbsp;<a class="about" href="https://github.com/glewe/teamcal-neo/issues" target="_blank" rel="noopener">GitHub Issues</a><br>
              <strong>{{ LANG.about_documentation }}:</strong>&nbsp;&nbsp;<a class="about" href="https://lewe.gitbook.io/teamcal-neo/" target="_blank" rel="noopener">TeamCal Neo User Manual</a><br>
            </p>
            <h4>{{ LANG.about_credits }}:</h4>
            <ul>
              <li>Bootstrap Team
                {{ LANG.about_for }}
                <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap Framework
                  {{ constant('BOOTSTRAP_VER') }}</a>
                and
                <a href="https://icons.getbootstrap.com/" target="_blank" rel="noopener">Bootstrap Icons
                  {{ constant('BOOTSTRAP_ICONS_VER') }}</a>
              </li>
              <li>Nick Downie
                {{ LANG.about_for }}
                <a href="https://www.chartjs.org/" target="_blank" rel="noopener">Chart.js
                  {{ constant('CHARTJS_VER') }}</a>
              </li>
              <li>Momo Bassit
                {{ LANG.about_for }}
                <a href="https://coloris.js.org/" target="_blank" rel="noopener">Coloris
                  {{ constant('COLORIS_VER') }}</a>
              </li>
              <li>SpryMedia Ltd.
                {{ LANG.about_for }}
                <a href="https://datatables.net/" target="_blank" rel="noopener">DataTables
                  {{ constant('DATATABLES_VER') }}</a>
              </li>
              <li>Dave Gandy
                {{ LANG.about_for }}
                <a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome
                  {{ constant('FONTAWESOME_VER') }}</a>
              </li>
              <li>Google Team
                {{ LANG.about_for }}
                <a href="https://www.google.com/fonts/" target="_blank" rel="noopener">Google Fonts</a>
              </li>
              <li>jQuery Team
                {{ LANG.about_for }}
                <a href="https://www.jquery.com/" target="_blank" rel="noopener">jQuery
                  {{ constant('JQUERY_VER') }}</a>
                {{ LANG.about_and }}
                <a href="http://www.jqueryui.com/" target="_blank" rel="noopener">jQuery UI
                  {{ constant('JQUERY_UI_VER') }}</a>
              </li>
              <li>Stefan Petre
                {{ LANG.about_for }}
                <a href="https://www.eyecon.ro/colorpicker/" target="_blank" rel="noopener">jQuery Color Picker</a>
              </li>
              <li>Dimitri Semenov
                {{ LANG.about_for }}
                <a href="https://dimsemenov.com/plugins/magnific-popup/" target="_blank" rel="noopener">Magnific Popup
                  {{ constant('MAGNIFICPOPUP_VER') }}</a>
              </li>
              <li>Iconshock Team
                {{ LANG.about_for }}
                <a href="https://www.iconshock.com/icon_sets/vector-user-icons/" target="_blank" rel="noopener">User Icons</a>
              </li>
              <li>Summernote Team
                {{ LANG.about_for }}
                <a href="https://summernote.org/" target="_blank" rel="noopener">Summernote
                  {{ constant('SUMMERNOTE_VER') }}</a>
              </li>
              <li>RobThree
                {{ LANG.about_for }}
                <a href="https://github.com/RobThree/TwoFactorAuth" target="_blank" rel="noopener">TwoFactorAuth</a>
              </li>
              <li>{{ LANG.about_misc }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:20px;"></div>

      <!--begin::Release Information-->
      <div class="card my-3">
        <div class="card-header cursor-pointer">
          <div data-bs-toggle="collapse" href="#releaseInformation" role="button" aria-expanded="false" aria-controls="releaseInformation">
            <div class="row">
              <div class="col-lg-12">
                <i class="bi bi-git bi-lg me-3"></i>
                {{ LANG.about_view_releaseinfo }}...
              </div>
            </div>
          </div>
        </div>
        <div class="collapse" id="releaseInformation">
          <div
            class="card-body">
            {# Release Info Loop #}
            <ul class="timeline">
              {% for release in releases %}
                <li>
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="bi bi-box bi-lg me-3"></i>Release
                      {{ release.version }}<span class="float-end">
                        <i class="bi bi-calendar bi-lg me-3"></i>
                        {{ release.date }}</span>
                    </div>
                    <div class="card-body">

                      {% if release.info|length > 0 %}
                        <p>{{ release.info }}</p>
                      {% endif %}

                      {% if release.bugfixes|length > 0 %}
                        <h6>{{ LANG.about_bugfixes }}</h6>
                        <ul>
                          {% for bugfix in release.bugfixes %}
                            <li>{{ bugfix.summary }}{{ (bugfix.issue|length > 0 ? ' ( <a href="' ~ bugfix.issue ~ '" target="_blank"><i class="bi bi-box-arrow-up-right me-1"></i>Issue</a> )' : '')|raw }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      {% if release.improvements|length > 0 %}
                        <h6>{{ LANG.about_improvements }}</h6>
                        <ul>
                          {% for improvement in release.improvements %}
                            <li>{{ improvement.summary }}{{ (improvement.issue|length > 0 ? ' ( <a href="' ~ improvement.issue ~ '" target="_blank"><i class="bi-box-arrow-up-right me-1"></i>Issue</a> )' : '')|raw }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      {% if release.features|length > 0 %}
                        <h6>{{ LANG.about_features_new }}</h6>
                        <ul>
                          {% for feature in release.features %}
                            <li>{{ feature.summary }}{{ (feature.issue|length > 0 ? ' ( <a href="' ~ feature.issue ~ '" target="_blank"><i class="bi-box-arrow-up-right me-1"></i>Issue</a> )' : '')|raw }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      {% if release.removals|length > 0 %}
                        <h6>{{ LANG.about_features_retired }}</h6>
                        <ul>
                          {% for removal in release.removals %}
                            <li>{{ removal.summary }}{{ (removal.issue|length > 0 ? ' ( <a href="' ~ removal.issue ~ '" target="_blank"><i class="bi-box-arrow-up-right me-1"></i>Issue</a> )' : '')|raw }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!--end::Release Information-->

    </div>

  </div>
{% endblock %}

{% block javascripts %}
  {% if viewData.versionCompare %}
    <script src="https://support.lewe.com/version/tcneo.js"></script>
    <script>
      var running_version = parseVersionString("{{ constant('APP_VER') }}");
      if (running_version.major < latest_version.major) {
        document.getElementById("versioncompare").innerHTML = '&nbsp;&nbsp;<a class="btn btn-sm btn-danger" href="https://github.com/glewe/teamcal-neo/releases" target="_blank">              {{ LANG.about_majorUpdateAvailable }}</a>';
      } else if (running_version.major == latest_version.major) {
        if (running_version.minor < latest_version.minor || (running_version.minor == latest_version.minor && running_version.patch < latest_version.patch)) {
          document.getElementById("versioncompare").innerHTML = '&nbsp;&nbsp;<a class="btn btn-sm btn-warning" href="https://github.com/glewe/teamcal-neo/releases" target="_blank">              {{ LANG.about_minorUpdateAvailable }}</a>';
        }
      }
    </script>
  {% endif %}
{% endblock %}
