{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
  view.database
  -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and (showAlerts != 'none') %}
        {% if (showAlerts == 'all') or (showAlerts == 'warnings' and (alertData.type == 'warning' or alertData.type == 'danger')) %}
          {{ createAlertBox(alertData)|raw }}
        {% endif %}
      {% endif %}

      {{ resetTabindex() }}
      {% set colsleft = 6 %}
      {% set colsright = 6 %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action={{ controller }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          {% set pageHelpLink = '' %}
          {% if pageHelp %}
            {% set pageHelpLink = '<a href="' ~ CONF.controllers[controller].docurl ~ '" target="_blank" class="float-end" style="color:inherit;"><i class="bi bi-question-circle-fill bi-lg"></i></a>' %}
          {% endif %}
          <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
            <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
            {{ LANG.db_title }}{{ pageHelpLink|raw }}</div>
          <div class="card-body">

            <div class="card">

              <div class="card-header">
                {% set pageTabs = [
                {'id': 'tab-optimize', 'href': '#panel-optimize', 'label': LANG.db_tab_optimize, 'active': true},
                {'id': 'tab-cleanup', 'href': '#panel-cleanup', 'label': LANG.db_tab_cleanup, 'active': false},
                {'id': 'tab-repair', 'href': '#panel-repair', 'label': LANG.db_tab_repair, 'active': false},
                {'id': 'tab-delete', 'href': '#panel-delete', 'label': LANG.db_tab_delete, 'active': false},
                {'id': 'tab-admin', 'href': '#panel-admin', 'label': LANG.db_tab_admin, 'active': false},
                {'id': 'tab-reset', 'href': '#panel-reset', 'label': LANG.db_tab_reset, 'active': false},
                {'id': 'tab-dbinfo', 'href': '#panel-dbinfo', 'label': LANG.db_tab_dbinfo, 'active': false},
              ] %}
                {{ createPageTabs(pageTabs) }}
              </div>

              <div class="card-body">
                <div
                  class="tab-content" id="myTabContent">

                  <!-- Optimize Tables tab -->
                  <div class="tab-pane fade show active" id="panel-optimize" role="tabpanel" aria-labelledby="tab-optimize">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <strong>{{ LANG.db_optimize }}</strong>
                        <div class="text-normal">{{ LANG.db_optimize_comment }}</div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-success" tabindex="{{ nextTabindex() }}" name="btn_optimize">{{ LANG.btn_optimize_tables }}</button>
                  </div>

                  <!-- Cleanup tab -->
                  <div class="tab-pane fade" id="panel-cleanup" role="tabpanel" aria-labelledby="tab-cleanup">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_what }}</div>
                        <div class="text-normal">{{ LANG.db_clean_what_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanDaynotes" value="chk_cleanDaynotes" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_daynotes }}</label>
                        </div>
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanMonths" value="chk_cleanMonths" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_months }}</label>
                        </div>
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanTemplates" value="chk_cleanTemplates" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_templates }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_before }}</div>
                        <div class="text-normal">{{ LANG.db_clean_before_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input id="cleanBefore" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_cleanBefore" maxlength="10" value="{{ cleanBefore }}" type="text">
                        {% if inputAlert.cleanBefore is defined and inputAlert.cleanBefore|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.cleanBefore }}</div>
                        {% endif %}
                        <script>
                          $(function () {
                            $("#cleanBefore").datepicker({changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd"});
                          });
                        </script>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_confirm }}</div>
                        <div class="text-normal">{{ LANG.db_clean_confirm_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="txt_cleanConfirm" maxlength="7" value="" type="text">
                        {% if inputAlert.cleanConfirm is defined and inputAlert.cleanConfirm|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.cleanConfirm }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-warning" tabindex="{{ nextTabindex() }}" name="btn_cleanup">{{ LANG.btn_cleanup }}</button>
                  </div>

                  <!-- Repair tab -->
                  <div class="tab-pane fade" id="panel-repair" role="tabpanel" aria-labelledby="tab-repair">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_repair_daynoteRegions }}</div>
                        <div class="text-normal">{{ LANG.db_repair_daynoteRegions_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_daynoteRegions" value="chk_daynoteRegions" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_repair_daynoteRegions }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_repair_confirm }}</div>
                        <div class="text-normal">{{ LANG.db_repair_confirm_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="txt_repairConfirm" maxlength="7" value="" type="text">
                        {% if inputAlert.repairConfirm is defined and inputAlert.repairConfirm|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.repairConfirm }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-warning" tabindex="{{ nextTabindex() }}" name="btn_repair">{{ LANG.btn_repair }}</button>
                  </div>

                  <!-- Delete tab -->
                  <div class="tab-pane fade" id="panel-delete" role="tabpanel" aria-labelledby="tab-delete">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_del_what }}</div>
                        <div class="text-normal">{{ LANG.db_del_what_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        {% set deleteOptions = [
                        {'name': 'chk_delUsers', 'label': LANG.db_del_users},
                        {'name': 'chk_delGroups', 'label': LANG.db_del_groups},
                        {'name': 'chk_delMessages', 'label': LANG.db_del_messages},
                        {'name': 'chk_delOrphMessages', 'label': LANG.db_del_orphMessages},
                        {'name': 'chk_delPermissions', 'label': LANG.db_del_permissions},
                        {'name': 'chk_delLog', 'label': LANG.db_del_log},
                        {'name': 'chkDBDeleteArchive', 'label': LANG.db_del_archive},
                      ] %}
                        {% for option in deleteOptions %}
                          <div class="form-check">
                            <label><input class="form-check-input" name="{{ option.name }}" value="{{ option.name }}" tabindex="{{ nextTabindex() }}" type="checkbox">{{ option.label }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_confirm }}</div>
                        <div class="text-normal">{{ LANG.db_del_confirm_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="txt_deleteConfirm" maxlength="6" value="" type="text">
                        {% if inputAlert.deleteConfirm is defined and inputAlert.deleteConfirm|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.deleteConfirm }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-danger" tabindex="{{ nextTabindex() }}" name="btn_delete">{{ LANG.btn_delete_records }}</button>
                  </div>

                  <!-- Administration tab -->
                  <div class="tab-pane fade" id="panel-admin" role="tabpanel" aria-labelledby="tab-admin">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <strong>{{ LANG.db_dbURL }}</strong>
                        <div class="text-normal">{{ LANG.db_dbURL_comment }}</div>
                      </div>
                      <div class="col-lg-12 control-label mt-2">
                        <input id="dbURL" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_dbURL" maxlength="160" value="{{ dbURL }}" type="text"><br>
                        <button type="submit" class="btn btn-primary" tabindex="{{ nextTabindex() }}" name="btn_saveURL">{{ LANG.btn_save }}</button>
                      </div>
                    </div>
                    {% if dbURL|length and dbURL != "#" %}
                      <div class="divider"><hr></div>
                      <a href="{{ dbURL }}" class="btn btn-info" tabindex="{{ nextTabindex() }}" target="_blank">{{ LANG.db_application }}</a>
                    {% endif %}
                  </div>

                  <!-- Reset tab -->
                  <div class="tab-pane fade" id="panel-reset" role="tabpanel" aria-labelledby="tab-reset">
                    <div class="alert alert-danger">{{ LANG.db_reset_danger|raw }}</div>
                    <div class="form-group row">
                      <div class="col-lg-8">
                        <div class="text-bold">{{ LANG.db_resetDataset }}</div>
                        <div class="text-normal">{{ LANG.db_resetDataset_comment|raw }}</div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opt_dataset" id="opt_dataset_basic" value="basic" checked tabindex="{{ nextTabindex() }}">
                          <label class="form-check-label" for="opt_dataset_basic">{{ LANG.db_reset_basic }}</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opt_dataset" id="opt_dataset_sample" value="sample" tabindex="{{ nextTabindex() }}">
                          <label class="form-check-label" for="opt_dataset_sample">{{ LANG.db_reset_sample }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-8">
                        <div class="text-bold">{{ LANG.db_resetString }}</div>
                        <div class="text-normal">{{ LANG.db_resetString_comment|raw }}</div>
                      </div>
                      <div class="col-lg-4">
                        <input id="dbResetString" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_dbResetString" maxlength="40" value="" type="text"><br>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-danger" tabindex="{{ nextTabindex() }}" name="btn_reset">{{ LANG.btn_reset_database }}</button>
                  </div>

                  <!-- Database Information tab -->
                  <div class="tab-pane fade show" id="panel-dbinfo" role="tabpanel" aria-labelledby="tab-dbinfo">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <table class='table'>
                          <thead>
                            <tr>
                              <th>{{ LANG.attribute }}</th>
                              <th>{{ LANG.value }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if dbInfo is not empty %}
                              {% for attr, val in dbInfo %}
                                <tr>
                                  <td>{{ attr }}</td>
                                  <td>{{ val }}</td>
                                </tr>
                              {% endfor %}
                            {% else %}
                              <tr>
                                <td colspan="2">{{ LANG.db_no_info ?? 'No information available' }}</td>
                              </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
