{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
    view.database
    -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and (showAlerts != 'none') %}
        {% if (showAlerts == 'all') or (showAlerts == 'warnings' and (alertData.type == 'warning' or alertData.type == 'danger')) %}
          {{ createAlertBox(alertData)|raw }}
        {% endif %}
      {% endif %}

      {{ resetTabindex() }}
      {% set colsleft = 6 %}
      {% set colsright = 6 %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action={{ controller }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          {% set pageHelpLink = '' %}
          {% if pageHelp %}
            {% set pageHelpLink = '<a href="' ~ CONF.controllers[controller].docurl ~ '" target="_blank" class="float-end" style="color:inherit;"><i class="bi bi-question-circle-fill bi-lg"></i></a>' %}
          {% endif %}
          <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
            <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
            {{ LANG.db_title }}{{ pageHelpLink|raw }}</div>
          <div class="card-body">

            <div class="card">

              <div class="card-header">
                {% set pageTabs = [
                {'id': 'tab-optimize', 'href': '#panel-optimize', 'label': LANG.db_tab_optimize, 'active': true},
                {'id': 'tab-cleanup', 'href': '#panel-cleanup', 'label': LANG.db_tab_cleanup, 'active': false},
                {'id': 'tab-repair', 'href': '#panel-repair', 'label': LANG.db_tab_repair, 'active': false},
                {'id': 'tab-delete', 'href': '#panel-delete', 'label': LANG.db_tab_delete, 'active': false},
                {'id': 'tab-admin', 'href': '#panel-admin', 'label': LANG.db_tab_admin, 'active': false},
                {'id': 'tab-reset', 'href': '#panel-reset', 'label': LANG.db_tab_reset, 'active': false},
                {'id': 'tab-dbinfo', 'href': '#panel-dbinfo', 'label': LANG.db_tab_dbinfo, 'active': false},
              ] %}
                {{ createPageTabs(pageTabs) }}
              </div>

              <div class="card-body">
                <div
                  class="tab-content" id="myTabContent">

                  <!-- Optimize Tables tab -->
                  <div class="tab-pane fade show active" id="panel-optimize" role="tabpanel" aria-labelledby="tab-optimize">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <strong>{{ LANG.db_optimize }}</strong>
                        <div class="text-normal">{{ LANG.db_optimize_comment }}</div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-success" tabindex="{{ nextTabindex() }}" name="btn_optimize">{{ LANG.btn_optimize_tables }}</button>
                  </div>

                  <!-- Cleanup tab -->
                  <div class="tab-pane fade" id="panel-cleanup" role="tabpanel" aria-labelledby="tab-cleanup">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_what }}</div>
                        <div class="text-normal">{{ LANG.db_clean_what_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanDaynotes" value="chk_cleanDaynotes" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_daynotes }}</label>
                        </div>
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanMonths" value="chk_cleanMonths" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_months }}</label>
                        </div>
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_cleanTemplates" value="chk_cleanTemplates" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_templates }}</label>
                        </div>
                        <div class="form-check">
                          <label><input class="form-check-input" name="chk_daynoteRegions" value="chk_daynoteRegions" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_clean_daynoteRegions }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_before }}</div>
                        <div class="text-normal">{{ LANG.db_clean_before_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input id="cleanBefore" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_cleanBefore" maxlength="10" value="{{ cleanBefore }}" type="text">
                        {% if inputAlert.cleanBefore is defined and inputAlert.cleanBefore|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.cleanBefore }}</div>
                        {% endif %}
                        <script>
                          $(function () {
                            $("#cleanBefore").datepicker({changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd"});
                          });
                        </script>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_clean_confirm }}</div>
                        <div class="text-normal">{{ LANG.db_clean_confirm_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="txt_cleanConfirm" maxlength="7" value="" type="text">
                        {% if inputAlert.cleanConfirm is defined and inputAlert.cleanConfirm|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.cleanConfirm }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-warning" tabindex="{{ nextTabindex() }}" name="btn_cleanup">{{ LANG.btn_cleanup }}</button>
                  </div>

                  <!-- Repair tab -->
                  <div class="tab-pane fade" id="panel-repair" role="tabpanel" aria-labelledby="tab-repair">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_repair_dbStructure }}</div>
                        <div class="text-normal">{{ LANG.db_repair_dbStructure_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <div class="form-check">
                          <label><input class="form-check-input" id="chk_dbStructure" name="chk_dbStructure" value="chk_dbStructure" tabindex="{{ nextTabindex() }}" type="checkbox">{{ LANG.db_repair_dbStructure }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div id="dbStructure-inline-warning" class="alert alert-danger d-none mb-2" role="alert"></div>
                    <button type="button" id="btn_dbStructureCheck" class="btn btn-warning" tabindex="{{ nextTabindex() }}">{{ LANG.btn_repair }}</button>
                  </div>

                  <!-- Delete tab -->
                  <div class="tab-pane fade" id="panel-delete" role="tabpanel" aria-labelledby="tab-delete">
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_del_what }}</div>
                        <div class="text-normal">{{ LANG.db_del_what_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        {% set deleteOptions = [
                        {'name': 'chk_delUsers', 'label': LANG.db_del_users},
                        {'name': 'chk_delGroups', 'label': LANG.db_del_groups},
                        {'name': 'chk_delMessages', 'label': LANG.db_del_messages},
                        {'name': 'chk_delOrphMessages', 'label': LANG.db_del_orphMessages},
                        {'name': 'chk_delPermissions', 'label': LANG.db_del_permissions},
                        {'name': 'chk_delLog', 'label': LANG.db_del_log},
                        {'name': 'chkDBDeleteArchive', 'label': LANG.db_del_archive},
                      ] %}
                        {% for option in deleteOptions %}
                          <div class="form-check">
                            <label><input class="form-check-input" name="{{ option.name }}" value="{{ option.name }}" tabindex="{{ nextTabindex() }}" type="checkbox">{{ option.label }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-{{ colsleft }}">
                        <div class="text-bold">{{ LANG.db_confirm }}</div>
                        <div class="text-normal">{{ LANG.db_del_confirm_comment }}</div>
                      </div>
                      <div class="col-lg-{{ colsright }}">
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="txt_deleteConfirm" maxlength="6" value="" type="text">
                        {% if inputAlert.deleteConfirm is defined and inputAlert.deleteConfirm|length %}
                          <br>
                          <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                            {{ inputAlert.deleteConfirm }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-danger" tabindex="{{ nextTabindex() }}" name="btn_delete">{{ LANG.btn_delete_records }}</button>
                  </div>

                  <!-- Administration tab -->
                  <div class="tab-pane fade" id="panel-admin" role="tabpanel" aria-labelledby="tab-admin">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <strong>{{ LANG.db_dbURL }}</strong>
                        <div class="text-normal">{{ LANG.db_dbURL_comment }}</div>
                      </div>
                      <div class="col-lg-12 control-label mt-2">
                        <input id="dbURL" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_dbURL" maxlength="160" value="{{ dbURL }}" type="text"><br>
                        <button type="submit" class="btn btn-primary" tabindex="{{ nextTabindex() }}" name="btn_saveURL">{{ LANG.btn_save }}</button>
                      </div>
                    </div>
                    {% if dbURL|length and dbURL != "#" %}
                      <div class="divider"><hr></div>
                      <a href="{{ dbURL }}" class="btn btn-info" tabindex="{{ nextTabindex() }}" target="_blank">{{ LANG.db_application }}</a>
                    {% endif %}
                  </div>

                  <!-- Reset tab -->
                  <div class="tab-pane fade" id="panel-reset" role="tabpanel" aria-labelledby="tab-reset">
                    <div class="alert alert-danger">{{ LANG.db_reset_danger|raw }}</div>
                    <div class="form-group row">
                      <div class="col-lg-8">
                        <div class="text-bold">{{ LANG.db_resetDataset }}</div>
                        <div class="text-normal">{{ LANG.db_resetDataset_comment|raw }}</div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opt_dataset" id="opt_dataset_basic" value="basic" checked tabindex="{{ nextTabindex() }}">
                          <label class="form-check-label" for="opt_dataset_basic">{{ LANG.db_reset_basic }}</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opt_dataset" id="opt_dataset_sample" value="sample" tabindex="{{ nextTabindex() }}">
                          <label class="form-check-label" for="opt_dataset_sample">{{ LANG.db_reset_sample }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <div class="form-group row">
                      <div class="col-lg-8">
                        <div class="text-bold">{{ LANG.db_resetString }}</div>
                        <div class="text-normal">{{ LANG.db_resetString_comment|raw }}</div>
                      </div>
                      <div class="col-lg-4">
                        <input id="dbResetString" class="form-control" tabindex="{{ nextTabindex() }}" name="txt_dbResetString" maxlength="40" value="" type="text"><br>
                      </div>
                    </div>
                    <div class="divider"><hr></div>
                    <button type="submit" class="btn btn-danger" tabindex="{{ nextTabindex() }}" name="btn_reset">{{ LANG.btn_reset_database }}</button>
                  </div>

                  <!-- Database Information tab -->
                  <div class="tab-pane fade show" id="panel-dbinfo" role="tabpanel" aria-labelledby="tab-dbinfo">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <table class='table'>
                          <thead>
                            <tr>
                              <th>{{ LANG.attribute }}</th>
                              <th>{{ LANG.value }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if dbInfo is not empty %}
                              {% for attr, val in dbInfo %}
                                <tr>
                                  <td>{{ attr }}</td>
                                  <td>{{ val }}</td>
                                </tr>
                              {% endfor %}
                            {% else %}
                              <tr>
                                <td colspan="2">{{ LANG.db_no_info ?? 'No information available' }}</td>
                              </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </form>

      <!-- Database Structure Check Modal -->
      <div class="modal fade" id="modal-dbStructure" tabindex="-1" role="dialog" aria-labelledby="modal-dbStructure-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-dbStructure-label">{{ LANG.db_repair_dbStructure }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              <div id="dbStructure-warning" class="alert alert-warning d-none" role="alert"></div>
              <div id="dbStructure-body"></div>
            </div>
            <div class="modal-footer">
              <button type="button" id="btn_dbStructureDismiss" class="btn btn-secondary" data-bs-dismiss="modal">{{ LANG.btn_cancel }}</button>
              <button type="button" id="btn_dbStructureFix" class="btn btn-warning d-none">{{ LANG.btn_fix }}</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        // The Bootstrap bundle is included after the content block in
        // layout.twig, so defer all setup until DOMContentLoaded - by
        // then `bootstrap` is on the window.
        document.addEventListener('DOMContentLoaded', function () {
          const LANG = {
            checking:       {{ LANG.db_repair_checking|json_encode|raw }},
            applying:       {{ LANG.db_repair_applying|json_encode|raw }},
            no_issues:      {{ LANG.db_repair_no_issues|json_encode|raw }},
            select_option:  {{ LANG.db_repair_select_option|json_encode|raw }},
            backup_warning: {{ LANG.db_repair_backup_warning|json_encode|raw }},
            btn_cancel:     {{ LANG.btn_cancel|json_encode|raw }},
            btn_close:      {{ LANG.btn_close|json_encode|raw }},
          };
          const csrfToken = document.querySelector('input[name="csrf_token"]').value;
          const triggerBtn = document.getElementById('btn_dbStructureCheck');
          const chk        = document.getElementById('chk_dbStructure');
          const inlineWarn = document.getElementById('dbStructure-inline-warning');
          const modalEl    = document.getElementById('modal-dbStructure');
          const modal      = new bootstrap.Modal(modalEl);
          const warnEl     = document.getElementById('dbStructure-warning');
          const bodyEl     = document.getElementById('dbStructure-body');
          const fixBtn     = document.getElementById('btn_dbStructureFix');
          const dismissBtn = document.getElementById('btn_dbStructureDismiss');
          let lastFindings = [];
          let needsReload  = false;

          // The dismiss button starts as 'Cancel'. Once a check has
          // returned anything (findings, no-issues, or error), no work
          // is still pending, so 'Close' reads better than 'Cancel'.
          function setDismissLabel(label) {
            dismissBtn.textContent = label;
          }

          function escapeHtml(s) {
            return String(s).replace(/[&<>"']/g, c => ({
              '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;', "'": '&#39;'
            }[c]));
          }

          function describeFinding(f) {
            switch (f.kind) {
              case 'missing_table':
                return 'Missing table <code>' + escapeHtml(f.table) + '</code>';
              case 'missing_column':
                return 'Missing column <code>' + escapeHtml(f.column) + '</code> in table <code>' + escapeHtml(f.table) + '</code>';
              case 'missing_index':
                return 'Missing index <code>' + escapeHtml(f.index) + '</code> in table <code>' + escapeHtml(f.table) + '</code>';
              case 'missing_config':
                return 'Missing config entry <code>' + escapeHtml(f.name) + '</code>';
              case 'mismatched_config_case':
                return 'Config entry case mismatch: <code>' + escapeHtml(f.current) + '</code> &rarr; <code>' + escapeHtml(f.name) + '</code>';
              default:
                return 'Unknown finding: ' + escapeHtml(JSON.stringify(f));
            }
          }

          function renderFindings(findings) {
            if (!findings.length) {
              warnEl.classList.add('d-none');
              bodyEl.innerHTML = '<p>' + escapeHtml(LANG.no_issues) + '</p>';
              fixBtn.classList.add('d-none');
              return;
            }
            warnEl.textContent = LANG.backup_warning;
            warnEl.classList.remove('d-none');
            let html = '<ol>';
            for (const f of findings) {
              html += '<li>' + describeFinding(f) + '</li>';
            }
            html += '</ol>';
            bodyEl.innerHTML = html;
            fixBtn.classList.remove('d-none');
          }

          function renderResults(results) {
            warnEl.classList.add('d-none');
            fixBtn.classList.add('d-none');
            let html = '<ul class="list-unstyled">';
            for (const r of results) {
              const icon = r.status === 'ok'
                ? '<span class="text-success me-1">&#10003;</span>'
                : '<span class="text-danger me-1">&#10007;</span>';
              let line = icon + describeFinding(r.finding);
              if (r.status === 'error' && r.error) {
                line += ' &mdash; <span class="text-danger">' + escapeHtml(r.error) + '</span>';
              }
              html += '<li>' + line + '</li>';
            }
            html += '</ul>';
            bodyEl.innerHTML = html;
            needsReload = true;
          }

          async function postJson(url, body) {
            const opts = {
              method: 'POST',
              headers: { 'X-CSRF-Token': csrfToken },
            };
            if (body !== undefined) {
              opts.headers['Content-Type'] = 'application/json';
              opts.body = JSON.stringify(body);
            }
            const resp = await fetch(url, opts);
            if (!resp.ok) {
              const text = await resp.text();
              throw new Error('HTTP ' + resp.status + ': ' + text);
            }
            return resp.json();
          }

          function setBusy(btn, label) {
            btn.dataset.origText = btn.dataset.origText || btn.textContent;
            btn.disabled = true;
            btn.textContent = label;
          }
          function unsetBusy(btn) {
            btn.disabled = false;
            if (btn.dataset.origText) {
              btn.textContent = btn.dataset.origText;
            }
          }

          triggerBtn.addEventListener('click', async () => {
            inlineWarn.classList.add('d-none');
            inlineWarn.textContent = '';
            if (!chk.checked) {
              inlineWarn.textContent = LANG.select_option;
              inlineWarn.classList.remove('d-none');
              return;
            }
            setDismissLabel(LANG.btn_cancel);
            setBusy(triggerBtn, LANG.checking);
            try {
              const data = await postJson('index.php?action=database&method=check');
              lastFindings = data.findings || [];
              renderFindings(lastFindings);
              setDismissLabel(LANG.btn_close);
              modal.show();
            } catch (e) {
              warnEl.classList.add('d-none');
              fixBtn.classList.add('d-none');
              bodyEl.innerHTML = '<div class="alert alert-danger">' + escapeHtml(e.message) + '</div>';
              setDismissLabel(LANG.btn_close);
              modal.show();
            } finally {
              unsetBusy(triggerBtn);
            }
          });

          fixBtn.addEventListener('click', async () => {
            setBusy(fixBtn, LANG.applying);
            try {
              const data = await postJson('index.php?action=database&method=fix', { findings: lastFindings });
              renderResults(data.results || []);
            } catch (e) {
              warnEl.classList.add('d-none');
              bodyEl.innerHTML = '<div class="alert alert-danger">' + escapeHtml(e.message) + '</div>';
              needsReload = true;
            } finally {
              unsetBusy(fixBtn);
            }
          });

          modalEl.addEventListener('hidden.bs.modal', () => {
            if (needsReload) {
              window.location.reload();
            }
          });
        });
      </script>

    </div>
  </div>
{% endblock %}
