{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
  view.groupedit
  -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and (showAlerts != 'none') %}
        {% if (showAlerts == 'all') or (showAlerts == 'warnings' and (alertData.type == 'warning' or alertData.type == 'danger')) %}
          {{ createAlertBox(alertData)|raw }}
        {% endif %}
      {% endif %}

      {{ resetTabindex() }}
      {% set colsleft = 8 %}
      {% set colsright = 4 %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action={{ controller }}&amp;id={{ id }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          {% set pageHelpLink = '' %}
          {% if pageHelp %}
            {% set pageHelpLink = '<a href="' ~ docurl ~ '" target="_blank" class="float-end" style="color:inherit;"><i class="bi bi-question-circle-fill bi-lg"></i></a>' %}
          {% endif %}
          <div class="card-header text-bg-{{ panelColor }}">
            <i class="{{ faIcon }} fa-lg me-3"></i>
            {{ LANG.group_edit_title ~ ' ' ~ name }}{{ pageHelpLink|raw }}</div>
          <div class="card-body">

            <div class="card">
              <div class="card-header">
                {% set pageTabs = [
                { 'id': 'tab-settings', 'href': '#panel-settings', 'label': LANG.group_tab_settings, 'active': true },
                { 'id': 'tab-members', 'href': '#panel-members', 'label': LANG.group_tab_members, 'active': false },
                { 'id': 'tab-avatar', 'href': '#panel-avatar', 'label': LANG.group_tab_avatar, 'active': false },
              ] %}
                {{ createPageTabs(pageTabs) }}
              </div>

              <div class="card-body">
                <div
                  id="myTabContent" class="tab-content">

                  <!-- Group Settings -->
                  <div class="tab-pane fade show active" id="panel-settings" role="tabpanel" aria-labelledby="tab-settings">

                    {% for formObject in group %}
                      {{ createFormGroup(formObject, colsleft, colsright, nextTabindex()) }}
                    {% endfor %}
                  </div>

                  <!-- Group Members -->
                  <div class="tab-pane fade" id="panel-members" role="tabpanel" aria-labelledby="tab-members">
                    {% for formObject in members %}
                      {{ createFormGroup(formObject, colsleft, colsright, nextTabindex()) }}
                    {% endfor %}
                    {% for formObject in managers %}
                      {{ createFormGroup(formObject, colsleft, colsright, nextTabindex()) }}
                    {% endfor %}
                  </div>

                  <!-- Group Avatar -->
                  <div class="tab-pane fade" id="panel-avatar" role="tabpanel" aria-labelledby="tab-avatar">
                    <div class="form-group row">
                      <label class="col-lg-{{ colsleft }} control-label">
                        {{ LANG.group_avatar }}<br>
                        <span class="text-normal">{{ LANG.group_avatar_comment }}</span>
                      </label>
                      <div class="col-lg-{{ colsright }}">
                        <img src="{{ constant('WEBSITE_URL') ~ constant('APP_AVATAR_DIR') ~ avatar }}" alt="" style="width: 80px; height: 80px;"><br>
                        <br>
                        {% if avatar|slice(0, 14) != 'default_group' %}
                          <button type="submit" class="btn btn-primary btn-sm" tabindex="{{ nextTabindex() }}" name="btn_resetAvatar">{{ LANG.btn_reset }}</button>
                        {% endif %}
                      </div>
                    </div>
                    <div class="divider"><hr></div>

                    <div class="form-group row">
                      <label class="col-lg-{{ colsleft }} control-label">
                        {{ LANG.group_avatar_upload }}<br>
                        <span class="text-normal">
                            {{ LANG.group_avatar_upload_comment|format(avatar_maxsize, avatar_formats) }}
                          </span>
                      </label>
                      <div class="col-lg-{{ colsright }}">
                        <input type="hidden" name="MAX_FILE_SIZE" value="{{ avatar_maxsize }}"><br>
                        <input class="form-control" tabindex="{{ nextTabindex() }}" name="file_avatar" type="file"><br>
                        <button type="submit" class="btn btn-primary btn-sm" tabindex="{{ nextTabindex() }}" name="btn_uploadAvatar">{{ LANG.btn_upload }}</button>
                      </div>
                    </div>
                    <div class="divider"><hr></div>

                    <div class="form-group row">
                      <label class="col-lg-12 control-label">
                        {{ LANG.group_avatar_available }}<br>
                        <span class="text-normal">{{ LANG.group_avatar_available_comment|raw }}</span>
                      </label>
                      <div class="col-lg-12">
                        {% for av in avatars %}
                          <div class="float-start" style="border: 1px solid #eeeeee; padding: 4px;">
                            <input class="form-check-input" name="opt_avatar" value="{{ av }}" tabindex="{{ nextTabindex() }}" {{ avatar == av ? ' checked="checked" ' : '' }} type="radio">
                            <img src="{{ constant('WEBSITE_URL') ~ constant('APP_AVATAR_DIR') ~ av }}" alt="" style="width: 80px; height: 80px;">
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="mt-4 float-end">
              <input name="hidden_id" type="hidden" value="{{ id }}">
              <button type="submit" class="btn btn-primary" tabindex="{{ nextTabindex() }}" name="btn_groupUpdate">{{ LANG.btn_update }}</button>
              <a href="index.php?action=groups" class="btn btn-secondary" tabindex="{{ nextTabindex() }}">{{ LANG.btn_group_list }}</a>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
