{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
    view.holidayedit
    -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and (showAlerts != 'none') %}
        {% if (showAlerts == 'all') or (showAlerts == 'warnings' and (alertData.type == 'warning' or alertData.type == 'danger')) %}
          {{ createAlertBox(alertData)|raw }}
        {% endif %}
      {% endif %}

      {{ resetTabindex() }}
      {% set colsleft = 8 %}
      {% set colsright = 4 %}

      <form class="form-control-horizontal" name="form_create" action="index.php?action={{ controller }}&amp;id={{ id }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          {% set pageHelpLink = '' %}
          {% if pageHelp %}
            {% set pageHelpLink = '<a href="' ~ CONF.controllers[controller].docurl ~ '" target="_blank" class="float-end" style="color:inherit;"><i class="bi bi-question-circle-fill bi-lg"></i></a>' %}
          {% endif %}
          <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
            <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
            {{ LANG.hol_edit_title ~ name }}{{ pageHelpLink|raw }}</div>
          <div class="card-body">

            <input name="hidden_id" type="hidden" value="{{ id }}">
            {% for formObject in holiday %}
              {{ createFormGroup(formObject, colsleft, colsright, nextTabindex()) }}
            {% endfor %}

            <div class="mt-4 text-end">
              <button type="submit" class="btn btn-primary" tabindex="{{ nextTabindex() }}" name="btn_holidayUpdate">{{ LANG.btn_save }}</button>
              <a href="index.php?action=holidays" class="btn btn-secondary" tabindex="{{ nextTabindex() }}">{{ LANG.btn_holiday_list }}</a>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
