{% extends "layout.twig" %}
{% import "macros/form.twig" as forms %}

{% block content %}
  <!-- ====================================================================
  view.patternadd
  -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and showAlerts != "none" and (showAlerts == "all" or (showAlerts == "warnings" and (alertData.type == "warning" or alertData.type == "danger"))) %}
        {{ createAlertBox(alertData)|raw }}
      {% endif %}

      {% set tabindex = 0 %}
      {% set colsleft = 6 %}
      {% set colsright = 6 %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action={{ controller }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
            <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
            {{ LANG.btn_create_pattern }}
            {% if C.read('pageHelp') %}
              <a href="{{ CONF.controllers[controller].docurl }}" target="_blank" class="float-end" style="color:inherit;">
                <i class="bi bi-question-circle-fill bi-lg"></i>
              </a>
            {% endif %}
          </div>
          <div class="card-body">

            {% for formObject in pattern %}
              {% set tabindex = tabindex + 1 %}
              {{ forms.form_group(formObject, colsleft, colsright, tabindex) }}
            {% endfor %}

            <div class="mt-4 text-end">
              {% set tabindex = tabindex + 1 %}
              <button type="submit" class="btn btn-primary" tabindex="{{ tabindex }}" name="btn_create">{{ LANG.btn_create }}</button>
              {% set tabindex = tabindex + 1 %}
              <a href="index.php?action=patterns" class="btn btn-secondary" tabindex="{{ tabindex }}">{{ LANG.btn_pattern_list }}</a>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
