{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
    view.setup2fa
    -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and showAlerts != "none" and (showAlerts == "all" or (showAlerts == "warnings" and (alertData.type == "warning" or alertData.type == "danger"))) %}
        {{ createAlertBox(alertData)|raw }}
      {% endif %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action=setup2fa&amp;profile={{ profile }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
        <input name="hidden_s" type="hidden" value="{{ secret }}">

        <div class="card">
          <div class="card-header text-bg-danger">
            <i class="fas fa-user-lock fa-lg me-3"></i>
            {{ LANG.setup2fa_title }}
            {{ fullname }}
            <a href="https://lewe.gitbook.io/teamcal-neo/user-guide/two-factor-authentication" target="_blank" class="float-end" style="color:inherit;">
              <i class="bi bi-question-circle-fill bi-lg"></i>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <img src="{{ bcode }}" alt="" style="max-width:300px;"><br>
                {{ secret }}
              </div>
            </div>
            <hr>
            {% if CONF.forceTfa %}
              <div class="mb-2">{{ LANG.setup2fa_required_comment }}</div>
            {% endif %}
            {{ LANG.setup2fa_comment|raw }}
            <hr>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-2 text-center">
                <div class="form-group">
                  <label for="totp">{{ LANG.setup2fa_totp|raw }}</label><br>
                  <input id="totp" class="form-control text-center" name="txt_totp" type="text" minlength="6" maxlength="6" required pattern="^[0-9]{1,6}$">
                </div>
                <div style="height:20px;"></div>
                <button type="submit" class="btn btn-primary" name="btn_verify">{{ LANG.btn_verify }}</button>
              </div>
              <div class="col-md-5"></div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
