{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
  view.statsremainder
  -->
  <div class="container content">

    {% if showAlert and showAlerts != "none" and (showAlerts == "all" or (showAlerts == "warnings" and (alertData.type == "warning" or alertData.type == "danger"))) %}
      {{ createAlertBox(alertData)|raw }}
    {% endif %}

    {% set tabindex = 0 %}

    <form class="form-control-horizontal noprint" enctype="multipart/form-data" action="index.php?action={{ controller }}" method="post" target="_self" accept-charset="utf-8">
      <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

      <div class="page-menu">
        {% set tabindex = tabindex + 1 %}
        <button type="button" class="btn btn-primary" tabindex="{{ tabindex }}" data-bs-toggle="modal" data-bs-target="#modalGroup">{{ LANG.group }}
          <span class="badge text-bg-light">{{ groupName }}</span>
        </button>
        {% if not CONF.currentYearOnly %}
          {% set tabindex = tabindex + 1 %}
          <button type="button" class="btn btn-primary" tabindex="{{ tabindex }}" data-bs-toggle="modal" data-bs-target="#modalYear">{{ LANG.year }}
            <span class="badge text-bg-light">{{ year }}</span>
          </button>
        {% endif %}
        {% set tabindex = tabindex + 1 %}
        <button type="button" class="btn btn-warning" tabindex="{{ tabindex }}" data-bs-toggle="modal" data-bs-target="#modalDiagram">{{ LANG.diagram }}</button>
        <a class="btn btn-secondary" href="index.php?action={{ controller }}">{{ LANG.btn_reset }}</a>
      </div>
      <div style="height:20px;"></div>

      <!-- Modal: Group -->
      <div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-labelledby="modalGroupLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-bg-success">
              <h5 class="modal-title" id="modalGroupLabel">{{ LANG.stats_modalGroupTitle }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-bold">{{ LANG.stats_group }}</span><br>
              <span class="text-normal">{{ LANG.stats_group_comment }}</span>
              {% set tabindex = tabindex + 1 %}
              <select id="group" class="form-select" name="sel_group" tabindex="{{ tabindex }}">
                <option value="all" {{ (groupid == 'all') ? ' selected="selected"' : '' }}>{{ LANG.all }}</option>
                {% for grp in groups %}
                  <option value="{{ grp.id }}" {{ (groupid == grp.id) ? 'selected="selected"' : '' }}>{{ grp.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" name="btn_apply" class="btn btn-success">{{ LANG.btn_apply }}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ LANG.btn_cancel }}</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal: Year -->
      {% if not CONF.currentYearOnly %}
        <div class="modal fade" id="modalYear" tabindex="-1" role="dialog" aria-labelledby="modalYearLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-bg-success">
                <h5 class="modal-title" id="modalYearLabel">{{ LANG.stats_modalYearTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <span class="text-bold">{{ LANG.stats_year }}</span><br>
                <span class="text-normal">{{ LANG.stats_year_comment }}</span>
                {% set tabindex = tabindex + 1 %}
                <select id="sel_year" class="form-select" name="sel_year" tabindex="{{ tabindex }}">
                  <option value="{{ "now"|date("Y") - 1 }}" {{ (year == ("now"|date("Y") - 1)) ? "selected" : "" }}>{{ "now"|date("Y") - 1 }}</option>
                  <option value="{{ "now"|date("Y") }}" {{ (year == ("now"|date("Y"))) ? "selected" : "" }}>{{ "now"|date("Y") }}</option>
                  <option value="{{ "now"|date("Y") + 1 }}" {{ (year == ("now"|date("Y") + 1)) ? "selected" : "" }}>{{ "now"|date("Y") + 1 }}</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" name="btn_apply" class="btn btn-success">{{ LANG.btn_apply }}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ LANG.btn_cancel }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <!-- Modal: Diagram -->
      <div class="modal fade" id="modalDiagram" tabindex="-1" role="dialog" aria-labelledby="modalDiagramLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-bg-success">
              <h5 class="modal-title" id="modalDiagramLabel">{{ LANG.stats_modalDiagramTitle }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-bold">{{ LANG.stats_color }}</span><br>
              <label for="sel_color" class="text-normal">{{ LANG.stats_color_comment }}</label>
              {% set tabindex = tabindex + 1 %}
              <select id="sel_color" class="form-select" name="sel_color" tabindex="{{ tabindex }}">
                <option value="#0000ff" {{ (color == 'blue') ? "selected" : "" }}>{{ LANG.blue }}</option>
                <option value="#00ffff" {{ (color == 'cyan') ? "selected" : "" }}>{{ LANG.cyan }}</option>
                <option value="#00d000" {{ (color == 'green') ? "selected" : "" }}>{{ LANG.green }}</option>
                <option value="#808080" {{ (color == 'grey') ? "selected" : "" }}>{{ LANG.grey }}</option>
                <option value="#ff00ff" {{ (color == 'magenta') ? "selected" : "" }}>{{ LANG.magenta }}</option>
                <option value="#ffa500" {{ (color == 'orange') ? "selected" : "" }}>{{ LANG.orange }}</option>
                <option value="#800080" {{ (color == 'purple') ? "selected" : "" }}>{{ LANG.purple }}</option>
                <option value="#ff0000" {{ (color == 'red') ? "selected" : "" }}>{{ LANG.red }}</option>
                <option value="#ffff00" {{ (color == 'yellow') ? "selected" : "" }}>{{ LANG.yellow }}</option>
              </select><br>
            </div>
            <div class="modal-footer">
              <button type="submit" name="btn_apply" class="btn btn-success">{{ LANG.btn_apply }}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ LANG.btn_cancel }}</button>
            </div>
          </div>
        </div>
      </div>

    </form>

    <div class="card">
      <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
        <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
        {{ LANG.stats_title_remainder }}&nbsp;({{ year }})<span class="badge text-bg-secondary float-end badge-header-right">
          <i data-bs-placement="bottom" data-type="info" data-bs-toggle="tooltip" title="{{ LANG.stats_total }}">{{ total }}</i>
        </span>
        {% if C.read('pageHelp') %}
          <a href="{{ CONF.controllers[controller].docurl }}" target="_blank" class="float-end" style="color:inherit;">
            <i class="bi bi-question-circle-fill bi-lg"></i>
          </a>
        {% endif %}
      </div>
      <div class="card-body">
        <p>{{ LANG.stats_remainder_desc }}</p>

        <div style="position: relative; height: {{ height }}px;">
          <canvas id="myChart"></canvas>
        </div>

        <script src="public/addons/chart.js/{{ constant('CHARTJS_VER') }}/chart.umd.js"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');

            const colorNameMap = {
              'blue': '#0d6efd',
              'cyan': '#0dcaf0',
              'green': '#198754',
              'grey': '#6c757d',
              'gray': '#6c757d',
              'magenta': '#d63384',
              'orange': '#fd7e14',
              'purple': '#6f42c1',
              'red': '#dc3545',
              'yellow': '#ffc107'
            };

            let baseColorHex = '{{ color }}';
            if (baseColorHex.indexOf('#') !== 0) {
              let lowerColor = baseColorHex.toLowerCase();
              if (colorNameMap[lowerColor]) {
                baseColorHex = colorNameMap[lowerColor];
              }
            }

            function hexToRgba(hex, alpha) {
              var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
              hex = hex.replace(shorthandRegex, function (m, r, g, b) {
                return r + r + g + g + b + b;
              });
              var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
              return result ? `rgba(${
                parseInt(result[1], 16)
              }, ${
                parseInt(result[2], 16)
              }, ${
                parseInt(result[3], 16)
              }, ${alpha})` : `rgba(0,0,0,${alpha})`;
            }

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [{{ labels|raw }}],
                datasets: [
                  {
                    label: '{{ LANG.allowance }}',
                    data: [{{ dataAllowance|raw }}],
                    backgroundColor: hexToRgba('#198754', 0.4),
                    borderColor: '#198754',
                    borderWidth: 1,
                    barThickness: 40
                  }, {
                    label: '{{ LANG.remainder }}',
                    data: [{{ dataRemainder|raw }}],
                    backgroundColor: hexToRgba(baseColorHex, 0.8),
                    borderColor: baseColorHex,
                    borderWidth: 1,
                    barThickness: 40
                  }
                ]
              },
              options: {
                indexAxis: 'y',
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                  display: true
                },
                title: {
                  display: false
                }
              }
            });
          });
        </script>

      </div>
    </div>
  </div>
{% endblock %}
