{% extends "layout.twig" %}
{% import "macros/form.twig" as macros %}

{% block content %}
  <!-- ====================================================================
    view.useredit
    -->
  <div class="container content">

    <div class="col-lg-12">
      {% if showAlert and showAlerts != "none" and (showAlerts == "all" or (showAlerts == "warnings" and (alertData.type == "warning" or alertData.type == "danger"))) %}
        {{ createAlertBox(alertData)|raw }}
      {% endif %}

      {% set tabindex = 0 %}
      {% set colsleft = 8 %}
      {% set colsright = 4 %}

      <form class="form-control-horizontal" enctype="multipart/form-data" action="index.php?action={{ controller }}&amp;profile={{ profile }}" method="post" target="_self" accept-charset="utf-8">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">

        <div class="card">
          <div class="card-header text-bg-{{ CONF.controllers[controller].panelColor }}">
            <i class="{{ CONF.controllers[controller].faIcon }} fa-lg me-3"></i>
            {{ LANG.profile_edit_title ~ fullname }}
            {% if C.read('pageHelp') %}
              <a href="{{ CONF.controllers[controller].docurl }}" target="_blank" class="float-end" style="color:inherit;">
                <i class="bi bi-question-circle-fill bi-lg"></i>
              </a>
            {% endif %}
          </div>
          <div class="card-body">

            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="dialogTabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-personal" href="#panel-personal" data-bs-toggle="tab" role="tab" aria-controls="panel-personal" aria-selected="true">{{ LANG.profile_tab_personal }}</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-contact" href="#panel-contact" data-bs-toggle="tab" role="tab" aria-controls="panel-contact" aria-selected="false">{{ LANG.profile_tab_contact }}</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-password" href="#panel-password" data-bs-toggle="tab" role="tab" aria-controls="panel-password" aria-selected="false">{{ LANG.profile_tab_password }}</a>
                  </li>

                  {% if perms.userabsences and profile != "admin" %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-absences" href="#panel-absences" data-bs-toggle="tab" role="tab" aria-controls="panel-absences" aria-selected="false">{{ LANG.profile_tab_absences }}</a>
                    </li>
                  {% endif %}

                  {% if perms.useraccount and profile != "admin" %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-account" href="#panel-account" data-bs-toggle="tab" role="tab" aria-controls="panel-account" aria-selected="false">{{ LANG.profile_tab_account }}</a>
                    </li>
                  {% endif %}

                  {% if perms.useravatar %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-avatar" href="#panel-avatar" data-bs-toggle="tab" role="tab" aria-controls="panel-avatar" aria-selected="false">{{ LANG.profile_tab_avatar }}</a>
                    </li>
                  {% endif %}

                  {% if perms.usercustom and profile != "admin" %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-custom" href="#panel-custom" data-bs-toggle="tab" role="tab" aria-controls="panel-custom" aria-selected="false">{{ LANG.profile_tab_custom }}</a>
                    </li>
                  {% endif %}

                  {% if perms.usergroups and profile != "admin" %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-groups" href="#panel-groups" data-bs-toggle="tab" role="tab" aria-controls="panel-groups" aria-selected="false">{{ LANG.profile_tab_groups }}</a>
                    </li>
                  {% endif %}

                  {% if perms.usernotifications %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-notifications" href="#panel-notifications" data-bs-toggle="tab" role="tab" aria-controls="panel-notifications" aria-selected="false">{{ LANG.profile_tab_notifications }}</a>
                    </li>
                  {% endif %}

                  {% if perms.useroptions %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-options" href="#panel-options" data-bs-toggle="tab" role="tab" aria-controls="panel-options" aria-selected="false">{{ LANG.options }}</a>
                    </li>
                  {% endif %}

                  {% if not C.read('disableTfa') %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-tfa" href="#panel-tfa" data-bs-toggle="tab" role="tab" aria-controls="panel-tfa" aria-selected="false">{{ LANG.profile_tab_tfa }}</a>
                    </li>
                  {% endif %}
                </ul>
              </div>

              <div class="card-body">
                <div
                  class="tab-content" id="myTabContent">

                  <!-- Personal tab -->
                  <div class="tab-pane fade show active" id="panel-personal" role="tabpanel" aria-labelledby="tab-personal">
                    {% for formObject in personal %}
                      {% set tabindex = tabindex + 1 %}
                      {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                    {% endfor %}
                  </div>

                  <!-- Contact tab -->
                  <div class="tab-pane fade" id="panel-contact" role="tabpanel" aria-labelledby="tab-contact">
                    {% for formObject in contact %}
                      {% set tabindex = tabindex + 1 %}
                      {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                    {% endfor %}
                  </div>

                  <!-- Password tab -->
                  <div class="tab-pane fade" id="panel-password" role="tabpanel" aria-labelledby="tab-password">
                    {% for formObject in password %}
                      {% set tabindex = tabindex + 1 %}
                      {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                    {% endfor %}
                  </div>

                  {% if perms.userabsences and profile != "admin" %}
                    <!-- Absences tab -->
                    <div class="tab-pane fade" id="panel-absences" role="tabpanel" aria-labelledby="tab-absences">
                      <div class="form-group row">
                        <div class="col-lg-3">
                          <strong>{{ LANG.profile_abs_name }}</strong>
                        </div>
                        <div class="col-lg-2">
                          <div class="text-bold text-center">{{ LANG.profile_abs_allowance }}&nbsp;
                            {% if perms.userallowance %}
                              <span data-placement="top" data-type="info" class="fas fa-question-circle text-info" data-bs-toggle="tooltip" title="<div class='text-bold' style='padding-top: 4px; padding-bottom: 4px'>{{ LANG.profile_abs_allowance }}</div><div class='text-normal'>{{ LANG.profile_abs_allowance_tt }}</div>"></span>
                            {% else %}
                              <span data-placement="top" data-type="info" class="fas fa-question-circle text-info" data-bs-toggle="tooltip" title="<div class='text-bold' style='padding-top: 4px; padding-bottom: 4px'>{{ LANG.profile_abs_allowance }}</div><div class='text-normal'>{{ LANG.profile_abs_allowance_tt2 }}</div>"></span>
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="text-bold text-center">{{ LANG.profile_abs_carryover }}&nbsp;<span data-placement="top" data-type="info" class="fas fa-question-circle text-info" data-bs-toggle="tooltip" title="<div class='text-bold' style='padding-top: 4px; padding-bottom: 4px'>{{ LANG.profile_abs_carryover }}</div><div class='text-normal'>{{ LANG.profile_abs_carryover_tt }}</div>"></span>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="text-bold text-center">{{ LANG.profile_abs_taken }}</div>
                        </div>
                        <div class="col-lg-1">
                          <div class="text-bold text-center">{{ LANG.profile_abs_factor }}</div>
                        </div>
                        <div class="col-lg-2">
                          <div class="text-bold text-center">{{ LANG.profile_abs_remainder }}</div>
                        </div>
                      </div>
                      <div class="divider"><hr></div>

                      {% for a in abs %}
                        <div class="form-group row">
                          <div class="col-lg-3">
                            <div class="text-normal" style="">
                              <i class="{{ a.icon }}" style="color: #{{ a.color }}; background-color: #{{ a.bgcolor }}; border: 1px solid #333333; width: 30px; height: 30px; text-align: center; padding: 6px 4px 4px 4px; margin-right: 8px;"></i>
                              {{ a.name }}</div>
                          </div>
                          {% if perms.userallowance %}
                            <div class="col-lg-2">
                              {% set tabindex = tabindex + 1 %}
                              <div class="text-center"><input style="width:66%;float:left;" id="txt_{{ a.id }}_allowance" class="form-control text-center" tabindex="{{ tabindex }}" name="txt_{{ a.id }}_allowance" maxlength="3" value="{{ a.allowance }}">
                                <span class="small">({{ a.gallowance }})</span>
                              </div>
                            </div>
                          {% else %}
                            <div class="col-lg-2">
                              <div class="text-center">{{ a.allowance }}
                                ({{ a.gallowance }})</div>
                            </div>
                          {% endif %}
                          <div class="col-lg-2">
                            {% set tabindex = tabindex + 1 %}
                            <div class="text-center"><input id="txt_{{ a.id }}_carryover" class="form-control text-center" tabindex="{{ tabindex }}" name="txt_{{ a.id }}_carryover" maxlength="3" value="{{ a.carryover }}"></div>
                          </div>
                          <div class="col-lg-2">
                            <div class="text-center">{{ a.taken }}</div>
                          </div>
                          <div class="col-lg-1">
                            <div class="text-center">{{ a.factor }}</div>
                          </div>
                          <div class="col-lg-2 {{ a.remainder < 0 ? 'text-danger' : 'text-success' }}">
                            <div class="text-center">{{ a.remainder }}</div>
                          </div>
                        </div>
                        <div class="divider"><hr></div>
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if perms.useraccount and profile != "admin" %}
                    <!-- Account tab -->
                    <div class="tab-pane fade" id="panel-account" role="tabpanel" aria-labelledby="tab-account">
                      {% for formObject in account %}
                        {% set tabindex = tabindex + 1 %}
                        {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if perms.useravatar %}
                    <!-- Avatar tab -->
                    <div class="tab-pane fade" id="panel-avatar" role="tabpanel" aria-labelledby="tab-avatar">
                      <div class="form-group row">
                        <label class="col-lg-{{ colsleft }} control-label">
                          {{ LANG.profile_avatar }}<br>
                          <span class="text-normal">{{ LANG.profile_avatar_comment }}</span>
                        </label>
                        <div class="col-lg-{{ colsright }}">
                          <img src="{{ constant('WEBSITE_URL') ~ constant('APP_AVATAR_DIR') ~ avatar }}" alt="" style="width: 80px; height: 80px;"><br>
                          <br>
                          {% if avatar|slice(0, 8) != 'default_' %}
                            {% set tabindex = tabindex + 1 %}
                            <button type="submit" class="btn btn-primary btn-sm" tabindex="{{ tabindex }}" name="btn_reset">{{ LANG.btn_reset }}</button>
                          {% endif %}
                        </div>
                      </div>
                      <div class="divider"><hr></div>

                      <div class="form-group row">
                        <label class="col-lg-{{ colsleft }} control-label">
                          {{ LANG.profile_avatar_upload }}<br>
                          <span class="text-normal">
                            {{ LANG.profile_avatar_upload_comment|format(avatar_maxsize, avatar_formats) }}
                          </span>
                        </label>
                        <div class="col-lg-{{ colsright }}">
                          <input type="hidden" name="MAX_FILE_SIZE" value="{{ avatar_maxsize }}"><br>
                          {% set tabindex = tabindex + 1 %}
                          <input class="form-control" tabindex="{{ tabindex }}" name="file_avatar" type="file"><br>
                          {% set tabindex = tabindex + 1 %}
                          <button type="submit" class="btn btn-primary btn-sm" tabindex="{{ tabindex }}" name="btn_uploadAvatar">{{ LANG.btn_upload }}</button>
                        </div>
                      </div>
                      <div class="divider"><hr></div>

                      <div class="form-group row">
                        <label class="col-lg-12 control-label">
                          {{ LANG.profile_avatar_available }}<br>
                          <span class="text-normal">{{ LANG.profile_avatar_available_comment|raw }}</span>
                        </label>
                        <div class="col-lg-12">
                          {% for av in avatars %}
                            <div class="float-start" style="border: 1px solid #eeeeee; padding: 4px;">
                              {% set tabindex = tabindex + 1 %}
                              <input class="form-check-input" name="opt_avatar" value="{{ av }}" tabindex="{{ tabindex }}" {{ avatar == av ? ' checked="checked" ' : '' }} type="radio">
                              <img src="{{ constant('WEBSITE_URL') ~ constant('APP_AVATAR_DIR') ~ av }}" alt="" style="width: 80px; height: 80px;">
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="divider"><hr></div>
                    </div>
                  {% endif %}

                  {% if perms.usercustom and profile != "admin" %}
                    <!-- Custom tab -->
                    <div class="tab-pane fade" id="panel-custom" role="tabpanel" aria-labelledby="tab-custom">
                      {% for formObject in custom %}
                        {% set tabindex = tabindex + 1 %}
                        {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if perms.usergroups and profile != "admin" %}
                    <!-- Groups tab -->
                    <div class="tab-pane fade" id="panel-groups" role="tabpanel" aria-labelledby="tab-groups">
                      {% for formObject in groups %}
                        {% set tabindex = tabindex + 1 %}
                        {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if perms.usernotifications %}
                    <!-- Notifications tab -->
                    <div class="tab-pane fade" id="panel-notifications" role="tabpanel" aria-labelledby="tab-notifications">
                      {% for formObject in notifications %}
                        {% set tabindex = tabindex + 1 %}
                        {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if perms.useroptions %}
                    <!-- Options tab -->
                    <div class="tab-pane fade" id="panel-options" role="tabpanel" aria-labelledby="tab-options">
                      {% for formObject in options %}
                        {% set tabindex = tabindex + 1 %}
                        {{ macros.form_group(formObject, colsleft, colsright, tabindex) }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if not C.read('disableTfa') %}
                    <!-- 2FA tab -->
                    <div class="tab-pane fade" id="panel-tfa" role="tabpanel" aria-labelledby="tab-tfa">
                      {% if UO.read(profile, 'secret') %}
                        <div class="form-group row" id="form-group-activateMessages">
                          <label for="activateMessages" class="col-lg-8 control-label">{{ LANG.profile_remove2fa }}<br>
                            <span class="text-normal">{{ LANG.profile_remove2fa_comment|raw }}</span>
                          </label>
                          <div class="col-lg-4">
                            <div class="form-check">
                              {% set tabindex = tabindex + 1 %}
                              <input class="form-check-input" type="checkbox" id="remove2fa" name="chk_remove2fa" value="chk_remove2fa" tabindex="{{ tabindex }}">
                              <label class="form-check-label">{{ LANG.profile_remove2fa }}</label>
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="alert alert-info">
                          {{ LANG.profile_2fa_optional|raw }}
                          {% set tabindex = tabindex + 1 %}
                          <div>
                            <a href="index.php?action=setup2fa&profile={{ profile }}" class="btn btn-secondary mt-2" tabindex="{{ tabindex }}">{{ LANG.btn_setup2fa }}</a>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>

            <div class="mt-4 text-end">
              {% set tabindex = tabindex + 1 %}
              <button type="submit" class="btn btn-primary" tabindex="{{ tabindex }}" name="btn_profileUpdate">{{ LANG.btn_update }}</button>
              {% if perms.useraccount and profile != "admin" %}
                {% set tabindex = tabindex + 1 %}
                <button type="button" class="btn btn-warning" tabindex="{{ tabindex }}" data-bs-toggle="modal" data-bs-target="#modalArchiveProfile">{{ LANG.btn_archive }}</button>
                {% set tabindex = tabindex + 1 %}
                <button type="button" class="btn btn-danger" tabindex="{{ tabindex }}" data-bs-toggle="modal" data-bs-target="#modalDeleteProfile">{{ LANG.btn_delete }}</button>
              {% endif %}
              {% if perms.useraccount %}
                {% set tabindex = tabindex + 1 %}
                <a href="index.php?action=userlist" class="btn btn-secondary" tabindex="{{ tabindex }}">{{ LANG.btn_user_list }}</a>
              {% endif %}
            </div>

            <!-- Modal: Archive profile -->
            <div class="modal fade" id="modalArchiveProfile" tabindex="-1" role="dialog" aria-labelledby="modalArchiveProfileLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalArchiveProfileLabel">{{ LANG.modal_confirm }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    {{ LANG.profile_confirm_archive }}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" name="btn_profileArchive" style="margin-top: 4px;" aria-label="{{ LANG.btn_archive }}">{{ LANG.btn_archive }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="{{ LANG.btn_cancel }}">{{ LANG.btn_cancel }}</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal: Delete profile -->
            <div class="modal fade" id="modalDeleteProfile" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProfileLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteProfileLabel">{{ LANG.modal_confirm }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    {{ LANG.profile_confirm_delete }}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="btn_profileDelete" style="margin-top: 4px;" aria-label="{{ LANG.btn_delete }}">{{ LANG.btn_delete }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="{{ LANG.btn_cancel }}">{{ LANG.btn_cancel }}</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
